@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/ptsans-700.woff2) format(woff2);
    font-display: swap ;
}

@font-face {
    font-family:"PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/ptsans-400.woff2) format(woff2);
    font-display: swap ;
}
html {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family:"PT Sans";
    color: black;
}
.main-page {
    flex-grow: 1;
}
.advantages-list{
    display: flex;
    flex-wrap: wrap;
}
.advantage-item{
    width: 400px;
}
.menu-item-icon{
    display: flex;
}
.navigation-list{
    display: flex;
}
.navigation{
    display: flex;
}
.menu-list{
    display: flex;
}
.navigation-link{
    font-style: normal ;
    font-weight: 700;
    color: black;
    font-size: 24px;
    line-height: 28px;
    margin-right: 32px;
}
.menu-link{
    font-style: normal;
    font-weight: 700;
    color: black;
    font-size: 24px;
    line-height: 28px;
    margin-right: 26px;
}
.advantages-title{
    font-style: normal;
    font-weight: 700;
    color: black;
    font-size: 24px;
    line-height: 28px;
}
.advantages-description{
    font-style: normal ;
    font-weight: 400;
    color: black;
    font-size: 18px;
    line-height: 21px;
}
.interesing-prg{
    font-style: normal;
    font-weight: 400;
    color: black;
    font-size: 22px;
    line-height: 26px;
}
.interesting-title{
    font-style: normal;
    font-weight: 700;
    color: black;
    font-size: 30px;
    line-height: 36px;
}
.page-footer-title{
    font-style: normal;
    font-weight: 700;
    color: aliceblue;
    font-size: 30px;
    line-height: 36px;
}
.page-footer123{
    font-style: normal;
    font-weight: 400;
    color: aliceblue;
    font-size: 22px;
    line-height: 26px;
}
.mailing {
    background: url(../images/last-photo-sedona.jpg);
}
.social-networks{
    display: flex;
}
.footer-social-list{
    display: flex;
}
.footer-social-item{
    margin-right: 32px;
}
